
/*  Estilo para la pagina de Productos */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.65rem;
    background-color: rgb(224, 224, 175);
}

img {
    max-width: 100%;
}

h2 {
    font-size: 3rem;
}

.contenedor {
    max-width: 1200px;  
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a{
    display: inline-block;
    background-color: rgb(70, 128, 185);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.tres-columnas {
    display: grid;
    grid-template-areas: 
        "col1 col2 col3"
        "col1 col2 col3";
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}

#video{
    width: 60%;
    height: auto;
}

@media all and (min-width:600px) and (max-width:1023px){
h2{
    font-size: 100%;

}

img{
    width: 70%;
}
  
p{
    font-size: 70%;   
}    

.entrada-blog a{
    width: 70;
}

}

@media all and (max-width: 599px) {

    h2{
        font-size: 100%;
    
    }
    
    img{
        width: 50%;
    }
      
    p{
        font-size: 70%;   
    }    
    
    .tres-columnas {
        display: grid;
        grid-template-areas: 
            "col1 col2 "
            "col1 col2";
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
}
