body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(243, 243, 243);
}

/* header */

header {
    width: 960px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}


#encabezado-Titulo {
    background-image: url("../img/index_Herramientas02.jpg");
    background-size: 200px;
    display: flex;
    border: 2px solid rgb(206, 188, 26);

}

#contenedor-titulo{
    background-color: rgb(248, 241, 210);
    opacity: 0.9;
    color: rgb(48, 27, 7);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px ;
    border: 1px solid ;
 
}
#titulo-Principal{
    text-align: center;
    font-size: 150%;

}


/*---Nav: Menu de navegacion---*/

#marca img {
    width: 220px;
    height: 70px;
    float: left;
}

#botonera_principal {
    width: 400px;
    height: 40px;
    float:right;
    margin-top: 20px;
}

#botonera_principal ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

#botonera_principal ul li {
    display: inline;
}

#botonera_principal ul li a {
    display: inline-block;
    padding: 10px;
    background-color: #fdf13f;
    color:#fff;
    font-weight: bold;
    text-decoration: none;
}

#botonera_principal ul li a:active {
    color: rgb(252, 5, 5);
}

#botonera_principal ul li a:visited {
    color: rgb(187, 50, 192);
}

#botonera_principal ul li a:link {
    color: rgb(47, 17, 155);
}

#botonera_principal ul li a:hover {
    color: rgb(233, 61, 31);
    transform: scale(1.1);
}

#contenido_principal {
    width: 960px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#imagen1 {
    width: 350px;
    height: 300px;
    float:left;
    margin-top: 10px;
    background-image: url(../img/index_Herramientas01.jpg);
    background-size: cover; 
}

#presentacion {
    width: 600px;
    height: 300px;  /*prueba*/
    background-color: #69e79e;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#titulo_principal {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
}


/* --------------Fin header-------------------- */

/* ---------------- Main -------------------------- */


#datos p {
    font-size: 14px;
}


#contenido_articulo {
    font-family: sans-serif;
    font-size: 20px;
}

#texto_contenido {
    width: 250px;
    height: 300px;
    background-color: #56ce5c;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#contenido_segundo {
    font-family: Helvetica;
    font-size: 12px;
}
#imagen2 {
    width: 440px;
    height: 300px;
    float:left; 
    margin-bottom: 10px;
    background-image: url(../img/index_Herramientas02.jpg);
    background-size: cover; 
}

#destacado {
    width: 250px;
    height: 300px;
    background-color: #68af6c;
    float: right;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#contenido_destacado{
    font-family: Arial;
    font-size: 24px;
}

#complementario{
    width:960px;
    height: 180px;
    clear: both;
}

#imagen_aside {
    width:960px;
    height: 180px;
}

/* ------------ Videos --------------*/
#videoProductos{
    float: none;    
}



/* -----------------Footer---------------------*/

footer {
    width: 960px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6cdcd;
    color: #fff;
    margin-top: 1%;
    text-align: center;
}

 #footer a img{
    width: 50px; 
    height: auto;
 }
/* -----------------Fin Footer---------------------*/


@media all and (min-width:600px) and (max-width:1023px){

    header {
        width: 580px;
        height: 140px;
        margin-left: auto;
        margin-right: auto;
    }

    #titulo-Principal{
        text-align: center;
        font-size: 100%;
    
    }
    #datos p {
        font-size: 12px;
    }
    
    #marca img {
        width: 300px;
        height: 70px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }   
  
    #botonera_principal ul li a {
        display: inline-block;
        padding: 10px;
        font-weight: bold;
        text-decoration: none;
    }   
    
    #contenido_principal {
        width: 580px;
        height: 800px;
    }

    #imagen1 {
        width: 200px;
        background-size: cover; 
        background-position: center;
    }
    
    #presentacion {
        width: 370px;
        height: 300px; /*?*/
    }
    
    #titulo_principal {
        font-size: 25px;
    }
    
    #contenido_articulo {
        font-size: 18px;
    }
    
    #texto_contenido {
        width: 285px;
        height: 200px;
    }
    
    #contenido_segundo {
        font-size: 10px;
    }

    #imagen2 {
        width: 285px;
        height: 200px;
        background-size: cover; 
    }
    
    #destacado {
        width: 580px; /*¿*/
        height: 135px;
    }
    
    #contenido_destacado{
        font-size: 18px;
    }
    
    #complementario{
        width: 580px;
        height: 130px;
    }
    
    #imagen_aside {
        width: 580px;
        height: 130px;
    }
    
    footer {
        width: 580px;
    }
    
    #datos {
        width:250px;

    }
    #redes {
        width:250px;
    }
} 

@media all and (max-width: 599px) {

    header {
        width: 90%;
        height: auto;

    }
    #datos p {
        font-size: 10px;
    }
    #titulo-Principal{
        text-align: center;
        font-size: 80%;
    
    }
    #marca img {
        width: 100%;
        height: auto;
        float: none;
        padding: 10px;
        box-sizing: border-box;
    }
    
    #botonera_principal {
        width: 100%;
        height: auto;
        float: none;
        margin-top: 20px; /*?*/
    }
    
    #botonera_principal ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        float: none;
    }
    
    #botonera_principal ul li {
        display: block;
    }

    #botonera_principal ul li a {
        display: block;
        width: 100%;
        font-weight: bold;
        text-decoration: none;
        box-sizing: border-box;
        text-align: center;
        margin-bottom: 5px;
    }
     
    #contenido_principal {
        width: 90%;
        height: auto;
    }

    #imagen1 {
        width: 100%;
        height: 380px; 
        float: none;
        /*background-size: cover;*/
    }
    
    #presentacion {
        width: 100%;
        height: auto; 
        float: none;
    }
    
   
    #texto_contenido {
        width: 100%;
        height: auto;
        float: none;
        margin-right: 0;
    }
    
    #imagen2 {
        width: 100%;
        height: 300px;
        float: none; 
        margin-bottom: 10px;
        background-position: center; 
    }
    
    #destacado {
        width: 100%;
        height: auto;
        float: none;

    }
    
    #contenido_destacado{
        font-size: 90%;
    }
    
    #complementario{
        display: none;
    }
    
    
    footer {
        width: 90%;
        height: auto;
        float: none
    }
    
    #datos {
        width: 100%;
        height: auto;
        float: none;

    }
    #redes {
        width: 100%;
        height: 35px;
        float: none;
    }
}



/* ---------------- Fin Main -------------------------- */

